<div class="mdl-color--white mdl-shadow--2dp mdl-cell mdl-cell--12-col mdl-grid">
  <ul class="demo-list-two demo-list mdl-list">
    {{#each model as |item| }}
      <li class="mdl-list__item mdl-list__item--two-line">
        <span class="mdl-list__item-primary-content">
          <i class="material-icons mdl-list__item-avatar">person</i>
          <span>{{item.name}}</span>
          <span class="mdl-list__item-sub-title">62 Score</span>
        </span>
        <span class="mdl-list__item-secondary-content">
          <button {{action 'createGame' item}} class="mdl-button mdl-js-button mdl-button--fab mdl-js-ripple-effect mdl-button--colored mdl-button--mini-fab">
            <i class="material-icons">arrow_forward</i>
          </button>
        </span>
      </li>
    {{/each}}
  </ul>
</div>